*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 2000px;
    background-color: #e8e8e8 !important;
}

.logoimg {
    width: 360px;
    height: 200px;
    float: left;
}

header {
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    background: url('https://cdn.pixabay.com/photo/2017/07/10/23/52/club-2492013_960_720.jpg')no-repeat ;
    background-size: cover;
    height: 95vh;


}
header nav {
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    list-style: none;
    color: #000000;
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: normal;
    -webkit-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

header nav a:hover {
    background: #000000;
    color: #fff;
    border-radius: 70px;
}


.wrapper {
    width: 90%; 
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}

/**************************/ 

.header2 {
    position: fixed;
    height: 100px;

}


.header2 .logo {
    line-height: 100px;
    font-size: 30px;
}

.header2 nav {
    line-height: 100px;

}

@media screen and (max-width: 950px){
    header .logo,
    header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
    .header2 {
        height: auto;
    }
    .header2 .logo, .header2 nav{
        line-height: 50px;
    }
}
.divider {
    color: #e8e8e8;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    background-color: #000000;
}

/***************SOCIAL MEDIA BAR************/
body {margin:0;height:2000px;}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background:#d6249f;
  color: black;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}



/********************************/
.carousel {
    margin: 0px;
    padding: 0px;
    height: 500px;

    
    
}
.carousel-inner {
    height: 500px;
}

.carousel-item p {
    margin-bottom: 70.5rem !important;
}

@media screen and (max-width: 950px){
    .carousel-item p {
        margin-bottom: 0.5 rem !important;
    }
}

.textoheader {
    padding-top: 50px;
    padding-left: 90px;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}





/********************prueba*******************/



.cardconteiner {
    background-size: cover;
    
}




/**************************************/


.us-information {
    width: 100%;
    height: 600px;
    background-color: #e8e8e8;

}


.work_area_container {
    display: flex;
    justify-content: center;
}

.area-trabajo {
    display: flex;
    padding-right: 50px;
    padding-top: 100px;
    
}

.area-trabajo img {
    width: 70px;
    height: 70px;
}
